---
layout: default
title: Blog Posts
---

<div id="home">
  <h2><i class="icon-bookmark"></i> Webdevelopment</h2>
  <ul id="webdevelopment" class="posts">
    {% for page in site.pages %}
		{% if page.layout == 'webdesign' %}
			<li><a href="{{ page.url }}">{{ page.title }}</li>
		{% endif %}
    {% endfor %}
  </ul>
  <h2><i class="icon-bookmark"></i> Photography</h2>
  <ul id="photography" class="posts">
    {% for page in site.pages %}
		{% if page.layout == 'photography' %}
			<li><a href="{{ page.url }}">{{ page.title }}</li>
		{% endif %}
    {% endfor %}
  </ul>
</div>

